In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/Datasets/electric_vehicles_spec_2025.csv.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand                      478 non-null    object
 1   model                      477 non-null    object
 2   top_speed_kmh              478 non-null    int64
 3   battery_capacity_kWh       478 non-null    float64
 4   battery_type               478 non-null    object
 5   number_of_cells            276 non-null    float64
 6   torque_nm                  471 non-null    float64
 7   efficiency_wh_per_km       478 non-null    int64
 8   range_km                   478 non-null    int64
 9   acceleration_0_100_s       478 non-null    float64
 10  fast_charging_power_kw_dc  477 non-null    float64
 11  fast_charge_port           477 non-null    object
 12  towing_capacity_kg         452 non-null    float64
 13  cargo_volume_l             477 non-null    object
 14  seats                      478 non-null    int64
 15  drivetrain                 478 non-null    object
 16  segment                    478 non-null    object
 17  length_mm                  478 non-null    int64
 18  width_mm                   478 non-null    int64
 19  height_mm                  478 non-null    int64
 20  car_body_type              478 non-null    object
 21  source_url                 478 non-null    object
dtypes: float64(6), int64(7), object(9)
memory usage: 82.3+ KB

In [8]:
df.shape

(478, 22)

In [10]:
df['fast_charging_power_kw_dc'].fillna(df['fast_charging_power_kw_dc'].median(), inplace=True)

/tmp/ipython-input-10-2130619844.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fast_charging_power_kw_dc'].fillna(df['fast_charging_power_kw_dc'].median(), inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand                      478 non-null    object
 1   model                      477 non-null    object
 2   top_speed_kmh              478 non-null    int64
 3   battery_capacity_kWh       478 non-null    float64
 4   battery_type               478 non-null    object
 5   number_of_cells            276 non-null    float64
 6   torque_nm                  471 non-null    float64
 7   efficiency_wh_per_km       478 non-null    int64
 8   range_km                   478 non-null    int64
 9   acceleration_0_100_s       478 non-null    float64
 10  fast_charging_power_kw_dc  478 non-null    float64
 11  fast_charge_port           477 non-null    object
 12  towing_capacity_kg         452 non-null    float64
 13  cargo_volume_l             477 non-null    object
 14  seats                      478 non-null    int64
 15  drivetrain                 478 non-null    object
 16  segment                    478 non-null    object
 17  length_mm                  478 non-null    int64
 18  width_mm                   478 non-null    int64
 19  height_mm                  478 non-null    int64
 20  car_body_type              478 non-null    object
 21  source_url                 478 non-null    object
dtypes: float64(6), int64(7), object(9)
memory usage: 82.3+ KB

In [14]:
df['cargo_volume_l'] = df['cargo_volume_l'].astype('category')

In [16]:
df.isnull().sum()

brand                          0
model                          1
top_speed_kmh                  0
battery_capacity_kWh           0
battery_type                   0
number_of_cells              202
torque_nm                      7
efficiency_wh_per_km           0
range_km                       0
acceleration_0_100_s           0
fast_charging_power_kw_dc      0
fast_charge_port               1
towing_capacity_kg            26
cargo_volume_l                 1
seats                          0
drivetrain                     0
segment                        0
length_mm                      0
width_mm                       0
height_mm                      0
car_body_type                  0
source_url                     0
dtype: int64

In [17]:
df['model'].fillna('Unknown', inplace=True)
df['fast_charge_port'].fillna('Unknown', inplace=True)

/tmp/ipython-input-17-3578976613.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['model'].fillna('Unknown', inplace=True)
/tmp/ipython-input-17-3578976613.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fast_charge_port'].fillna('Unknown', inplace=True)

In [20]:
df['torque_nm'].fillna(df['torque_nm'].median(), inplace=True)
df['towing_capacity_kg'].fillna(df['towing_capacity_kg'].median(), inplace=True)

/tmp/ipython-input-20-1273721864.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['torque_nm'].fillna(df['torque_nm'].median(), inplace=True)
/tmp/ipython-input-20-1273721864.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['towing_capacity_kg'].fillna(df['towing_capacity_kg'].median(), inplace=True)

In [21]:
df['number_of_cells'].fillna(df['number_of_cells'].median(), inplace=True)

/tmp/ipython-input-21-4202457197.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_cells'].fillna(df['number_of_cells'].median(), inplace=True)

In [23]:
df['cargo_volume_l'] = pd.to_numeric(df['cargo_volume_l'], errors='coerce')

In [24]:
df['cargo_volume_l'].fillna(df['cargo_volume_l'].median(), inplace=True)

/tmp/ipython-input-24-2073044199.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cargo_volume_l'].fillna(df['cargo_volume_l'].median(), inplace=True)

In [25]:
df.drop(['source_url'], axis=1, inplace=True)

In [26]:
df.dtypes

brand                         object
model                         object
top_speed_kmh                  int64
battery_capacity_kWh         float64
battery_type                  object
number_of_cells              float64
torque_nm                    float64
efficiency_wh_per_km           int64
range_km                       int64
acceleration_0_100_s         float64
fast_charging_power_kw_dc    float64
fast_charge_port              object
towing_capacity_kg           float64
cargo_volume_l               float64
seats                          int64
drivetrain                    object
segment                       object
length_mm                      int64
width_mm                       int64
height_mm                      int64
car_body_type                 object
dtype: object

In [28]:
categorical_columns = df.select_dtypes(include='object').columns
print(f"Kategorik klonlar {categorical_columns.to_list()}")

Kategorik klonlar ['brand', 'model', 'battery_type', 'fast_charge_port', 'drivetrain', 'segment', 'car_body_type']

In [29]:
df.isnull().sum()

brand                        0
model                        0
top_speed_kmh                0
battery_capacity_kWh         0
battery_type                 0
number_of_cells              0
torque_nm                    0
efficiency_wh_per_km         0
range_km                     0
acceleration_0_100_s         0
fast_charging_power_kw_dc    0
fast_charge_port             0
towing_capacity_kg           0
cargo_volume_l               0
seats                        0
drivetrain                   0
segment                      0
length_mm                    0
width_mm                     0
height_mm                    0
car_body_type                0
dtype: int64

In [30]:
# df.to_csv('cleaning_vehicles_dataset.csv', index=False)